.home-container {
  padding-top: 52px;
  max-width: 100%;
  background-color: #f3f2ef;
  min-height: 100vh;
}
.home-content {
  max-width: 1128px;
  margin-left: auto;
  margin-right: auto;
}
.home-section {
  min-height: 50px;
  padding: 8px 16px;
  box-sizing: content-box;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin-bottom: 8px;
}
.home-section > h5 {
  color: #0a66c2;
  font-size: 14px;
}
.home-section > a {
  font-weight: 700;
}
.home-section > p {
  font-size: 14px;
  color: #434649;
  font-weight: 600;
}
.home-layout {
  display: grid;
  grid-template-areas: "leftside main rightside";
  grid-template-columns: minmax(0, 5fr) minmax(0, 12fr) minmax(300px, 7fr);
  column-gap: 25px;
  row-gap: 25px;
  grid-template-rows: auto;
  margin: 25px 0;
}
@media screen and (max-width: 768px) {
  .home-section {
    flex-direction: column;
    padding: 0 5px;
  }
  .home-layout {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
  }
}
